{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>

        {% block title %}
        
        {% endblock title %}
    </title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">P.M.S</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/medicines">Medicines</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Products</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/orders">Order</a>
              </li>

             
              
              <li class="nav-item">
                <a class="nav-link active" href="contact">Contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
              </li>


  {% if request.user.is_authenticated %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="signup" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     Welcome {{user.email}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

      <li><a class="dropdown-item" href="logout">Logout</a></li>
    </ul>
  </li>

  {% else %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="signup" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New User?
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="signup">Sign Up</a></li>
                  <li><a class="dropdown-item" href="login">Login</a></li>
                </ul>
              </li>

              {% endif %}

             
            </ul>
            <form action="/search" method="get" class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="getdata" required>
              <button class="btn btn-outline-success" type="submit" >Search</button>
            </form>
          </div>
        </div>
      </nav>

  

      {% block body %}
      
      
      
      
      {% endblock body %}

<br><br>

      <div class="container py-5 bg-light">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
             
              <span class="fs-5">PHMS</span>
            </a>
            <ul class="list-unstyled small text-muted">
              <li class="mb-2">Designed and built with all the love in the world by the <a href="/docs/5.0/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</li>
              <li class="mb-2">Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
              <li class="mb-2">Currently v5.0.2.</li>
              <li class="mb-2">Analytics by <a href="https://usefathom.com/ref/ADZSBE" target="_blank" rel="noopener">Fathom</a>.</li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">Home</a></li>
              <li class="mb-2"><a href="/docs/5.0/">Docs</a></li>
              <li class="mb-2"><a href="/docs/5.0/examples/">Examples</a></li>
              <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
              <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
              <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap">Swag Store</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Guides</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/docs/5.0/getting-started/">Getting started</a></li>
              <li class="mb-2"><a href="/docs/5.0/examples/starter-template/">Starter template</a></li>
              <li class="mb-2"><a href="/docs/5.0/getting-started/webpack/">Webpack</a></li>
              <li class="mb-2"><a href="/docs/5.0/getting-started/parcel/">Parcel</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Projects</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap">Bootstrap 5</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev">Bootstrap 4</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/icons">Icons</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/rfs">RFS</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap-npm-starter">npm starter</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Community</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions">Discussions</a></li>
              <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
              <li class="mb-2"><a href="https://opencollective.com/bootstrap">Open Collective</a></li>
              <li class="mb-2"><a href="https://bootstrap-slack.herokuapp.com/">Slack</a></li>
              <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
            </ul>
          </div>
        </div>
      </div>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>