{% extends "base.html" %}
{% block title %} Contact {% endblock title %}
{% block body %}
<Center><h1 class="display-4">CONTACT US</h1></Center>

<div class="container mt-2">

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6 bg-light p-5">
        
        {% include "messages.html" %}  


    


        <form action="/contact" method="post">{% csrf_token %}

        
          <label for="name">Name</label>

          <div class="form-group">
              <input type="text" id="name" class="form-control mb-3" placeholder="Enter Your Name" name="name" required>
          </div>

          <label for="email">Email</label>

          <div class="form-group">
              <input type="email" id="email" class="form-control mb-3" placeholder="Enter Your Email Address" name="email" value="{{user.username}}" required>
          </div>

          

          <label for="num">Phone Number</label>

          <div class="form-group">
              <input type="number" id="num" class="form-control mb-3" placeholder="Enter Your Mobile no." name="num" required>
          </div>

          <label for="desc">How can i help?</label>

          <div class="form-group">
              <textarea type="text" id="desc" class="form-control mb-3"  name="desc" required></textarea>
          </div>

        


          
          <div class="d-grid gap-2">
              <button class="btn btn-dark" type="submit">Submit</button>
           
            </div>

           
        </form>
       
      </div>
      

      <div class="col-md-3"></div>
    </div>
  </div>
<br>
<br>

{% endblock body %}